.header {
  padding-top: 3.4rem;
  @media screen and (max-width: 375px) {
    padding-top: 1.6rem;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site__logo-img {
    @media screen and (max-width: 375px) {
      width: 48px;
      height: 48px;
    }
  }
}
