main {
  margin-top: 5rem;
}
.btn {
  padding: 1.8rem 4.693rem;
  color: $color-cream;
  border-radius: 2.8rem;
  font-size: 1.6rem;
  line-height: 1.75;
  @media screen and (max-width: 375px) {
    padding: 0.9rem 2.8rem 0.9rem 2.7rem;
    font-size: 1.4rem;
  }
}

.btn-dark {
  background-color: $color-black;
  &:hover {
    background-color: $color-purple-light;
  }
}

.btn-orange {
  background-color: $color-coral;
  &:hover {
    background-color: $color-orange;
  }
}
